################################################################################
#                      FICHIER DE CONFIGURATION APACHE                         #
################################################################################

# Jeux de caractères par défaut

AddDefaultCharset utf-8